<div class="text-center">
    <br />
    <h1>App Created by Joshua Paul</h1>
    <p>Like my work? Feel free to check out more at {portfolio link}</p>
    <p>You can also email me at <a href="mailto:joshuajaworowski@gmail.com">joshuajaworowski@gmail.com</a></p>
    <br /><br />
    <img src="~/Content/Pictures/Creator.jpg" alt="" />
</div>